<div class="portfolio">
	<h1 class="page__head">portfolio</h1>
	<h2 class="page__subhead">Lorem ipsum dolor sit amet</h2>

	<div class="portfolio-list grid">
		<div class="portfolio-list__item a">
			<div class="portfolio-list__img">
				<img src="../../assets/img/portfolio/a.jpg" alt="gallery picture">
			</div>
		</div>

		<div class="portfolio-list__item b">
			<div class="portfolio-list__img">
				<img src="../../assets/img/portfolio/b.jpg" alt="gallery picture">
			</div>
		</div>

		<div class="portfolio-list__item c">
				<div class="portfolio-list__img">
					<img src="../../assets/img/portfolio/c.jpg" alt="gallery picture">
				</div>
		</div>

		
		
	</div>
	<!-- /.portfolio-list -->
</div>
<!-- /.portfolio -->