<div class="about">
	<div class="about__head-container">
		<h1 class="page__head about__head">Hello <br> I'm Jane</h1>
	</div>
	<!-- /.about__head-container -->
	

	<div class="about-section row">
		<div class="about-section__img-container col-md-5">
			<img class="about-section__img" src="assets/img/about/me.jpg" alt="about me picture">
		</div>

		<div class="about-section__text-container page__line-bottom col-md-6">
			<h1 class="about-section__head">About me</h1>

			<p class="about-section__text  page__text">
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere consectetur minus pariatur magni repudiandae minima, sed quam, ipsam exercitationem accusamus corporis voluptatum. Voluptatibus saepe aliquam assumenda numquam unde animi officia!
			</p>
		</div>
	</div>
	<!-- /.about-section -->

	<div class="about-section row">
			<div class="about-section__text-container page__line-top col-md-6">
				<h1 class="about-section__head">What I do</h1>
	
				<p class="about-section__text page__text">
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere consectetur minus pariatur magni repudiandae minima, sed quam, ipsam exercitationem accusamus corporis voluptatum. Voluptatibus saepe aliquam assumenda numquam unde animi officia!
				</p>
			</div>

			<div class="about-section__img-container col-md-5">
					<img class="about-section__img" src="assets/img/about/me.jpg" alt="about me picture">
			</div>
	</div>
	<!-- /.about-section -->

	
</div>
<!-- /.about -->