<div class="portfolio">
	<div class="portfolio__head-container" data-aos="fade-in">
		<h1 class="page__head">My portfolio</h1>
		<p class="page__subhead">Lorem ipsum dolor sit amet</p>
	</div>
	

	<ul class="portfolio-list grid" >
		<li class="portfolio-list__item a" data-aos="fade-in">
			<img src="assets/img/portfolio/a1.jpg" alt="portfolio pocture">

			<div class="portfolio-caption">
				<h2 class="portfolio-caption__title">
					Lorem
				</h2>
				<p class="portfolio-caption__text">
					Lorem ipsum
				</p>
			</div>
		</li>

		<li class="portfolio-list__item b" data-aos="fade-in">
			<img src="assets/img/portfolio/b1.jpg" alt="portfolio pocture">

			<div class="portfolio-caption">
				<h2 class="portfolio-caption__title">
					Lorem
				</h2>
				<p class="portfolio-caption__text">
					Lorem ipsum
				</p>
			</div>
		</li>

		<li class="portfolio-list__item c" data-aos="fade-in">
			<img src="assets/img/portfolio/c1.jpg" alt="portfolio pocture">

			<div class="portfolio-caption">
				<h2 class="portfolio-caption__title">
					Lorem
				</h2>
				<p class="portfolio-caption__text">
					Lorem ipsum
				</p>
			</div>
		</li>

		<li class="portfolio-list__item d" data-aos="fade-right">
			<img src="assets/img/portfolio/d1.jpg" alt="portfolio pocture">

			<div class="portfolio-caption">
				<h2 class="portfolio-caption__title">
					Lorem
				</h2>
				<p class="portfolio-caption__text">
					Lorem ipsum
				</p>
			</div>
		</li>

		<li class="portfolio-list__item e" data-aos="fade-left">
			<img src="assets/img/portfolio/a1.jpg" alt="portfolio pocture">

			<div class="portfolio-caption">
				<h2 class="portfolio-caption__title">
					Lorem
				</h2>
				<p class="portfolio-caption__text">
					Lorem ipsum
				</p>
			</div>
		</li>

		<li class="portfolio-list__item f" data-aos="fade-up">
			<img src="assets/img/portfolio/a1.jpg" alt="portfolio pocture">

			<div class="portfolio-caption">
				<h2 class="portfolio-caption__title">
					Lorem
				</h2>
				<p class="portfolio-caption__text">
					Lorem ipsum
				</p>
			</div>
		</li>
	</ul>
</div>
<!-- /.portfolio -->