.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15%;

    &-text {
        width: 30%;
    }

    &-img {
        width: 45%;
    }

    &__btn {
        margin-top: 2em;
    }
}