.logo-box{
    &__link {
        text-decoration: none;
        padding: 0.4rem;
    }

	&__text {
        color: white;
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: $letter-spacing;
    }
}