<div class="portfolio">
	<h1 class="page__head">Menu</h1>
	<h2 class="page__subhead">Lorem ipsum dolor sit amet</h2>

	<ul class="portfolio-list grid" >
		<li class="portfolio-list__item a">
			<img src="../../assets/img/portfolio/port1.jpg" alt="portfolio pocture">
		</li>

		<li class="portfolio-list__item b">
			<img src="../../assets/img/portfolio/port1.jpg" alt="portfolio pocture">
		</li>

		<li class="portfolio-list__item c">
			<img src="../../assets/img/portfolio/port1.jpg" alt="portfolio pocture">
		</li>

		<li class="portfolio-list__item d">
			<img src="../../assets/img/portfolio/port1.jpg" alt="portfolio pocture">
		</li>

		<li class="portfolio-list__item e">
			<img src="../../assets/img/portfolio/port1.jpg" alt="portfolio pocture">
		</li>

		<li class="portfolio-list__item f">
			<img src="../../assets/img/portfolio/port1.jpg" alt="portfolio pocture">
		</li>
	</ul>
	<!-- /.portfolio-list -->
</div>
<!-- /.portfolio -->