<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>

{{> sprite }}

<!-- Bonjour le monde -->

<div class="page">
	<section class="section-hero">
		<div class="container">
			{{> header }}
		
			{{> hero }}
		</div>
	</section>

	<section class="section-about">
		<div class="container">
			{{> about }}
		</div>
	</section>

	<section class="section-portfolio">
		<div class="container">
			{{> portfolio }}
		</div>
	</section>

	<section class="section-footer">
		<div class="container">
			{{> footer }}
		</div>
	</section>
</div>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="assets/js/app.min.js"></script>

</body>
</html>