.section {
	&-hero {
		width: 100%;
	    height: 100vh;
	    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../img/hero/hero.jpg");
	    background-position: 50%;
	    background-size: cover;
	}

	&-portfolio {
		background: url("../img/portfolio/port-bg.png");
	}

	&-services {
		background: url("../img/services/services-bg.jpg");
	}

	&-footer {
		margin: 4rem 0 1rem 0;
	}
}