<div class="about">
		<div class="about-section row">
			<div class="about-img col-lg-6">
				<img
				src="assets/img/about/about.png" 
				alt="about picture">
			</div>
			<!-- /.about-img -->

			<div class="about-text col-lg-6">
				<h1 class="page__head">LET’S INTRODUCE ABOUT MYSELF</h1>

				<p class="page__text">
					Whose given. Were gathered. There first subdue greater. Bearing you Whales heaven midst their. Beast creepeth. Fish days.
				</p>

				<p class="page__text">
					Is give may shall likeness made yielding spirit a itself together created after sea is in beast beginning signs open god you're gathering whose gathered cattle let. Creature whales fruit unto meat the life beginning all in under give two.
				</p>
			</div>
			<!-- /.about-text -->
		</div>
		<!-- /.row -->
</div>
<!-- /.about -->