<header class="header">
	<span class="logo">awesome</span>

	<nav class="navbar">
    	<svg class="navbar__menu hide-desktop">
    		<use xlink:href="#menu"></use>
    	</svg>

		<ul class="navbar-list">
			<li class="navbar-list__item">
				<a class="navbar-list__link" href="#">Home</a>
			</li>

			<li class="navbar-list__item">
				<a class="navbar-list__link" href="#">Services</a>
			</li>

			<li class="navbar-list__item">
				<a class="navbar-list__link" href="#">Menu</a>
			</li>

			<li class="navbar-list__item">
				<a class="navbar-list__link" href="#">Team</a>
			</li>
		</ul>
	</nav>
	<!-- /.navbar -->
</header>