<div class="services">
	<h1 class="page__head">Services</h1>
	<h2 class="page__subhead">Lorem ipsum dolor sit amet</h2>

	<ul class="services-list row">
		<li class="services-list__item col-md-3">
			<img class="services-list__img" src="assets/img/services/icon1.png" alt="Проведение банкетов" />
			<span class="services-list__text">Проведение банкетов</span>
		</li>
		<li class="services-list__item col-md-3">
			<img class="services-list__img" src="assets/img/services/icon1.png" alt="Организация праздников" />
			<span class="services-list__text">Организация праздников</span>	
		</li>
		<li class="services-list__item col-md-3">
			<img class="services-list__img" src="assets/img/services/icon1.png" alt="Оформление зала" />
			<span class="services-list__text">Оформление зала</span>
		</li>
		<li class="services-list__item col-md-3">
			<img class="services-list__img" src="assets/img/services/icon1.png" alt="Ведущий на праздник" />
			<span class="services-list__text">Ведущий на праздник</span>
		</li>
	</ul>
	<!-- /.services-list -->
</div>
<!-- /.services -->