.btn {
	width: 150px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	background-color: $primary;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	border-radius: 10px;
	padding: 1em 2em;
	transition: background-color .14s linear;

	&:hover {
		background-color: lighten($primary, 5%);
	}
}

.btn-cta {
	background-color: $cta-color;
	transition: background-color .14s linear;

	&:hover {
		background-color: lighten($cta-color, 5%);
	}
}