.navbar-list {
	display: flex;

	&__link {
		padding: 1em;
		color: black;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
		transition: color .3s ease;

		&:hover {
			color: $primary;
		}
	}
}