<header class="header">
    <span class="logo">logo</span>

    <nav class="navbar">
        <ul class="navbar-list">
            <li class="navbar-list__item">
                <a class="navbar-list__link" href="#">Home</a>
            </li>

            <li class="navbar-list__item">
                <a class="navbar-list__link" href="#">About</a>
            </li>

            <li class="navbar-list__item">
                <a class="navbar-list__link" href="#">Works</a>
            </li>

            <li class="navbar-list__item">
                <a class="navbar-list__link" href="#">Team</a>
            </li>
        </ul>
        <!-- /.navbar-list -->
    </nav>
    <!-- /.navbar -->
</header>
<!-- /.header -->