.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2em 0 20% 0;
}

.navbar-list {
	&__item {
		margin-left: 2em;
	}

	&__link {
		color: white;
		font-size: 1.2em;
		text-decoration: none;
		padding: .2em;
		transition: color .2s linear;

		&:hover {
			color: $primary;
		}
	}
}