<div class="portfolio">
	<ul class="portfolio-list grid" >
		<li class="portfolio-list__item a">
			<img src="assets/img/portfolio/a.jpg" alt="portfolio pocture">
		</li>

		<li class="portfolio-list__item b">
			<img src="assets/img/portfolio/b.jpg" alt="portfolio pocture">
		</li>

		<li class="portfolio-list__item c">
			<img src="assets/img/portfolio/c.jpg" alt="portfolio pocture">
		</li>

		<li class="portfolio-list__item d">
			<img src="assets/img/portfolio/d.jpg" alt="portfolio pocture">
		</li>

		<li class="portfolio-list__item e">
			<img src="assets/img/portfolio/e.jpg" alt="portfolio pocture">
		</li>

		<li class="portfolio-list__item f">
			<img src="assets/img/portfolio/f.jpg" alt="portfolio pocture">
		</li>
	</ul>
	<!-- /.portfolio-list -->
</div>
<!-- /.portfolio -->